@import "../../styles/variable.scss";

.ant-layout {
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;

  .ant-layout-header {
    height: auto;
    line-height: 1;
    position: relative;
    padding: 2.8rem 3rem;
    background-color: #ffffff;
    border-bottom: 1px solid $BORDER_COLOR;
    box-shadow: 0px 2px 8px rgba(96, 125, 139, 0.05);

    .header-img {
      top: 0;
      left: 30rem;
      width: 40rem;
      position: absolute;
    }
  }

  .ant-layout-sider {
    border-right: 1px solid $BORDER_COLOR;
    box-shadow: 0px 2px 8px rgba(96, 125, 139, 0.05);
    // background: #f9feff !important;

    .company-logo {
      width: 100%;
      display: flex;
      height: 9.2rem;
      align-items: center;
      justify-content: center;

      img {
        width: 14rem;
        object-fit: contain;
      }
    }

    .sider-img {
      width: 17rem;
      bottom: 5rem;
      position: absolute;
      object-fit: contain;
    }

    .logo-block {
      padding: 3.2rem 2rem;
    }
    .ant-menu {
      border: 0;
      font-size: 1.4rem;
      color: $SECONDARY_TEXT_COLOR;
      // background: #f9feff !important;
    }
  }
  .ant-layout-content {
    padding: 3rem;
    overflow-y: auto;
    background: #fff;
  }
}
