.landing-page {
  display: flex;
  height: 100%;
  padding: 3rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .body {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .images-list {
      margin-top: 1.6rem;
      img {
        width: 20rem;
        padding: 0 1.6rem;
      }
    }
  }
}
