.user-event-management {
    color: #000000;
    line-height: 1.5715;
    font-family: "Montserrat", sans-serif;
    p,
    span,
    label {
        margin: 0;
    }
    .ant-btn {
        border-radius: 3px;
    }
}

.cultlurly-event-host-detail-modal {
    p {
        margin: 0;
        color: #000000;
        line-height: 1.5715;
    }
}
