@import "./variable.scss";

.w-full {
  width: 100% !important;
}

.h-full {
  height: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}

@mixin text-base {
  &.secondary {
    color: $SECONDARY_TEXT_COLOR;
  }
  &.bolder {
    font-weight: 900;
  }
  &.bold {
    font-weight: 700;
  }
  &.semi-bold {
    font-weight: 600;
  }
  &.medium {
    font-weight: 600;
  }
}

.text-base {
  font-size: 1.2rem;
  @include text-base;
}

.text-xl {
  font-size: 1.4rem;
  line-height: 1.75;
  @include text-base;
}

.text-2xl {
  font-size: 1.6rem;
  line-height: 2;
  @include text-base;
}

.text-3xl {
  font-size: 1.8rem;
  line-height: 2;
  @include text-base;
  &.bolder {
    letter-spacing: 1px;
  }
}

.text-4xl {
  font-size: 2.4rem;
  line-height: 1.4;
  @include text-base;
  &.bolder {
    letter-spacing: 1px;
  }
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
  @include text-base;
  &.bolder {
    letter-spacing: 1px;
  }
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-medium {
  font-weight: 600;
}

.max-container {
  max-width: 114rem;
}

.full-w-img {
  width: 100%;
  height: auto;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

@include list-loop(".pt-", "padding-top");
@include list-loop(".mt-", "margin-top");
@include list-loop(".pb-", "padding-bottom");
@include list-loop(".mb-", "margin-bottom");
