@import "./mixins.scss";
@import "./helpers.scss";

#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  // font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  color: #000000;
  font-family: "Mulish", sans-serif;
  // font-family: "Montserrat", sans-serif;
}

p,
span,
label {
  margin: 0;
  font-family: "Mulish", sans-serif;
  // font-family: "Montserrat", sans-serif;
}

.common-list {
  .ant-list-header {
    padding: 1.8rem 0;
    border-bottom: 0 !important;
    color: $SECONDARY_TEXT_COLOR;
    .ant-row {
      margin: 0 !important;
    }
  }
  .ant-list-item {
    padding: 1.8rem 0;
    border-bottom: 0 !important;
    .ant-row {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 !important;
    }
    &:nth-child(even) {
      border-radius: 10px;
      background: rgba(179, 179, 179, 0.1);
    }
  }
}

.ant-card.no-padding {
  .ant-card-body:first-child {
    padding: 0;
  }
}

.events-listing {
  .ant-card {
    width: 32rem;
    border-radius: 6px;
    .ant-card-cover {
      border-radius: 6px 6px 0 0;
      img {
        height: 20rem;
        object-fit: cover;
        border-radius: 6px 6px 0 0;
      }
    }
    .ant-card-body {
      padding: 1.2rem;
      .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
      }
    }
  }
}

.ant-image-preview {
  .ant-image-preview-operations {
    .ant-image-preview-operations-operation {
      &:nth-child(4),
      &:last-child {
        display: none;
      }
    }
  }
}
