.team-management {
  .ant-list-items {
    .ant-list-item {
      .ant-row {
        > div:last-child {
          font-size: 2rem;
          text-align: right;
        }
      }
    }
  }
}

.member-list-item {
  padding: 1rem;
  min-width: 20rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eceff1;
  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .anticon {
    font-size: 2rem;
    cursor: pointer;
  }
}
