.event-recommendation-category-card {
  display: flex;
  height: 7.2rem;
  cursor: pointer;
  min-width: 21rem;
  align-items: center;
  border-radius: 1.6rem;
  box-shadow: 0 4px 8px rgba(191, 183, 204, 0.8);
  .cover {
    height: 100%;
    width: 5.6rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.6rem 0 0 1.6rem;
  }
  .title {
    padding: 1.6rem;
    line-height: 1.3;
  }
}
