@import "../../styles//variable.scss";

.event-recommendations {
  .event-recommendation-categories {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
  .event-sections {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
  .event-recommendation-section {
    .header {
      padding: 0 1.2rem 0 0;
      .anticon {
        cursor: pointer;
        font-size: 2.4rem;
        color: #C8C8C8;
      }
    }
  }
}
