@import "../../styles//variable.scss";


.event-recommendation-page {
  .ant-list-items {
    .ant-list-item {
      .ant-row {
        > div:last-child {
          font-size: 4rem;
          text-align: right;
        }
      }
    }
  }
  .body .images-list img {
    width: 100%;
    height: auto;
  }
}


.event-recommendations {
  .event-recommendation-categories {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
  .event-sections {
    display: grid;
    grid-gap: 2.4rem;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
  .event-recommendation-section {
    .header {
      padding: 0 1.2rem 0 0;
      .anticon {
        cursor: pointer;
        font-size: 2.4rem;
        color: #7067679a;
      }
    }
  }
}


