.account-login {
  > div {
    max-width: 42rem;
  }
  display: flex;
  height: 100%;
  padding: 3rem;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .logo {
    width: 8rem;
    height: 8rem;
    object-fit: contain;
    margin-bottom: 2rem;
  }
  .error-img,
  .success-img {
    width: 30rem;
    margin-bottom: 1.6rem;
  }
}
