@import "../../styles/variable.scss";

.events-listing {
    .event-list-card {
        width: 32rem;
        border-radius: 6px;
        .ant-card-cover {
            border-radius: 6px 6px 0 0;
            img {
                height: 20rem;
                object-fit: cover;
                border-radius: 6px 6px 0 0;
            }
        }
        .ant-card-body {
            padding: 1.2rem;
            min-height: 21rem;
            .description {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical;
            }
        }
    }
    .categories-filter {
        .ant-tag {
            cursor: pointer;
            font-size: 1.4rem;
            padding: 0.4rem 1.2rem;
            &:hover {
                color: $PRIMARY_COLOR;
                border-color: $PRIMARY_COLOR;
            }
            &.selected {
                color: #fff;
                border-color: $PRIMARY_COLOR;
                background-color: $PRIMARY_COLOR;
            }
        }
    }
}
